 body {
            background-color: #f8f9fa; /* Fondo gris claro */
        }
        .card-login {
            max-width: 450px;
            width: 100%;
        }
        .form-control:focus {
            box-shadow: none;
            border-color: #0d6efd;
        }